@model MoviesDBManager.Models.Actor

@{
    ViewBag.Title = "Details " + Model.Name;
}
<div class="prevent-select" style="padding-top:10px;">
    <div style="display:grid; grid-template-columns:auto 35px 35px; align-items:top;">
        <div class="ActorDetailsName"> @Model.Name</div>
        @Helper.IconCmd("Actors", "Edit/" + Model.Id, "fa-edit", "Modifier...")
        @Helper.IconConfirmCmd("Actors", "Delete/" + Model.Id, "fa-times-rectangle-o", "Effacer " + Model.Name + "?")
    </div>
    <div class="MovieDetails">
        @Helper.Image(Model.GetAvatarURL(false), "largeAvatar")
        <div class="ActorDetailsMovies">
            <div style="font-size:1.5em; border-bottom:1px solid #ccc">Filmographie</div>
            <div class="MoviesContainer" style="margin-top:10px">
                @{ Html.RenderPartial("~/Views/Movies/Movies.cshtml", Model.Movies); }
            </div>
            <hr />
        </div>
    </div>
    <p>
        @Html.ActionLink("retour", "Index")
    </p>
</div>