@model MoviesDBManager.Models.Movie

@{
    ViewBag.Title = "Details " + Model.Name;
}
<div class="prevent-select" style="padding-top:10px;">
    <div style="display:grid; grid-template-columns:auto 35px 35px; align-items:top;">
        <div class="MovieDetailsTitle"> @Model.Name</div>
        @Helper.IconCmd("Movies", "Edit/" + Model.Id, "fa-edit", "Modifier..." )
        @Helper.IconConfirmCmd("Movies", "Delete/" + Model.Id, "fa-times-rectangle-o", "Effacer " + Model.Name + "?")
    </div>
    <div class="MovieDetails">
        @Helper.Image(Model.GetPosterURL(false), "largePoster")
        <div class="MovieDetailsActors">
            <div style="font-size:1.5em; border-bottom:1px solid #ccc">Acteurs</div>
            <div class="ActorsContainer" style="margin-top:10px">
                @{ Html.RenderPartial("~/Views/Actors/Actors.cshtml", Model.Actors); }
            </div>
            <hr />
        </div>
    </div>
    <p>
        @Html.ActionLink("retour", "Index")
    </p>
</div>
