@model MoviesDBManager.Models.Movie
@{
    string pageTitle = Model.Id == 0 ? "Ajout de film" : "Modification de film";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>@pageTitle</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.PosterImageKey)

    <div class="form-group">
        @Html.Label("Titre", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PosterImageData, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Helper.ImageUploader(Model.Id, "PosterImageData", Model.GetPosterURL(), "~/Images_Data/Loading_icon.gif", "Cliquez pour choisir une image")
            @Html.ValidationMessageFor(model => model.PosterImageData, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Acteurs", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Helper.SelectionLists(ViewBag.Castings, ViewBag.Actors)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enregistrer" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>
